
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <div class="d-flex no-block nav-text-box align-items-center">
                <span><img src="/static/assets/images/logo-icon.png" alt="elegant admin template"></span>
                <a class="waves-effect waves-dark ml-auto hidden-sm-down" href="javascript:void(0)"><i class="ti-menu"></i></a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>            </div>
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href="/index/" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">管理面板</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="/studentscore/" aria-expanded="false"><i class="fa fa-user-circle-o"></i><span class="hide-menu"></span>学生成绩查看</a></li>
                        <!--<li> <a class="waves-effect waves-dark" href="/problemscore/" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu"></span>题目成绩查看</a></li>-->
                        <li> <a class="waves-effect waves-dark" href="/upload/" aria-expanded="false"><i class="fa fa-smile-o"></i><span class="hide-menu"></span>成绩上传</a></li>
                        <li> <a class="waves-effect waves-dark" href="/knowledge/" aria-expanded="false"><i class="fa fa-globe"></i><span class="hide-menu"></span>知识点管理</a></li>
                        <li> <a class="waves-effect waves-dark" href="/problem/" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu"></span>题目管理</a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->